<% include ../partials/header %>

<section class="game-box">

    <h1>EDIT</h1>
    <h2><%= game.name %></h2>
    
    <p>description: <%= game.description %></p>
    <p>Maximum players: <%= game.players %></p>
    <p>created at: <%= game.createdAt %></p>
    <p>updated at: <%= game.updatedAt %></p>
    <form action="none">
        <input type="submit" value="delete" formmethod="POST" formaction="/games/<%= game.id %>?_method=DELETE">
    </form>
</section>

<section class="game-box">
    <h2>Edit this game</h2>
    <form name="edit" method="POST" action="/games/<%= game.id %>?_method=PUT">
        <p>Name </p>        <input name="name" type="text" value="<%= game.name %>"> <br>
        <p>Players </p>     <input name="players" type="number" value="<%= game.players %>"> <br>
        <p>Description </p> <textarea name="description" rows="4" cols="50" ><%= game.description %></textarea> <br>
        <input type="submit" value="Submit edits"> 
    </form>
</section>


<% include ../partials/footer %>