<% include ../partials/header %>

<h2><%= game.name %></h2>

<p>description: <%= game.description %></p>
<p>Maximum players: <%= game.players %></p>
<p>created at: <%= game.createdAt %></p>
<p>updated at: <%= game.updatedAt %></p>

<% include ../partials/footer %>